<div class="d-flex align-items-center justify-content-between">
  <h4>Listagem de produtos</h4>
  <h4><a href="/products/create"><i class="bi bi-plus-square"></i></a></h4>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Estoque</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{name}}</td>
      <td>{{price}}</td>
      <td>{{stock}}</td>
      <td class="text-end">
        <a href="/products/update/{{id}}"><i class="bi bi-pencil"></i></a>
        <a href="/products/read/{{id}}"><i class="bi bi-eye"></i></a>
        <a href="/products/remove/{{id}}"><i class="bi bi-trash"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>